 .searchPage__info{
    padding:20px;
    font-family:'Ubuntu',sans-serif;
 }


 .searchPage__info > p {
     margin-bottom:10px;
     font-size:14px;
     font-weight:600;
 }

 .searchPage__info > h1 {
     margin-bottom:30px;
 }

 .searchPage__info > button{
    border-radius: 30px;
    margin:4px;
    text-transform: inherit;
 }

